<div class="joke-gen-container">
  <h2>Random Joke Generator</h2>

  <button (click)="fetchJoke()" >Get A New Random Joke</button>

  @if (isLoading) {
    <div class="joke-loading-message">Loading ...</div>
  }

  @if (errorMessage) {
    <div class="joke-error-message"> {{ errorMessage }} </div>
  }

  @if (jokeSetup && !errorMessage && !isLoading) {
    <div class="joke-container">
      <p><strong>Setup: </strong> {{ jokeSetup }} </p>
      <p><strong>Punchline: </strong> {{ jokePunchline }} </p>
    </div>
  }
</div>
