

input {
  display: block;
  margin: 10 0;
}

.retrieve-with-button {
  display: flex;
  gap: 8px;
}

.input-url {
  flex: 1;
}

hr {
  margin: 20px 0;
}

.blue {
  background-color: blue;
  color: white;
  border-radius: 10px;
}
