.game-container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.choices {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.choices button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: white;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.2s, background-color 0.2s;
}

.choices button:hover {
  transform: scale(1.1);
  background-color: rgb(230, 63, 63);
}

.choices img {
  width: 150px;
  height: 150px;
  margin-bottom: 6px;
}

.results img {
  width: 130px;
  height: 130px;
  vertical-align: middle;
  margin-left: 5px;
}

img {
  border-radius: 4px;
}

.results {
  margin-top: 25px;
}
