
<div class="game-container">
  <h1>Guess Number</h1>
  <p>Guess the number between 1 and 100.</p>

  <div *ngIf="!gameOver">
    <div style="text-align: left; margin-left: 2em;">
      <label for="guess">Your guess: </label>
    </div>
    <input id="guess"
    type="number"
    [(ngModel)]="guessedNumber"
    [disabled]="gameOver"
    min="1"
    placeholder="Enter your number" />

    <button (click)="submitGuess()" [disabled]="!isValidGuess(guessedNumber)">
      Submit Guess
    </button>
    <p>Attemps Left: {{ attemptsLeft }}</p>
  </div>

  <div *ngIf="feedbackMessage" class="feedback">
    <p> {{ feedbackMessage }} </p>
  </div>

  <div *ngIf="gameOver">
    <button (click)="resetGame()">Play Again</button>
  </div>
</div>
