

.profile-card{
  max-width: 450px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid rgb(237, 214, 214);
  border-radius: 25px;
  background-color: #c2d4ff;
  box-shadow: 0 4px 4px rgb(218, 218, 218);
}

h2{
  text-align: center;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 5px;
}

p{
  font-size: 19px;
}

input{
  width: 90%;
  padding: 10px;
  margin: 5px 0 10px 0;
  font-size: 14px;
  border: 1px solid #a4bfff;
  border-radius: 8px;
}
